*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

#
!@types/**/*.d.ts
.env
template.yaml
lib/package*.json
*.log
*.jp*g
*.png
